<html>
   <body>
    <h1>Enter youtube channel url</h1>
      <form action = "http://127.0.0.1:5000/result" method = "POST">
         <p>Channel url <input type = "text" name = "ch1" /></p>
         <!-- <p>Channel 2 <input type = "text" name = "ch2" /></p>
         <p>Channel 3 <input type = "text" name = "ch3" /></p>
         <p>Channel 4 <input type ="text" name = "ch4" /></p>   
          <p>Channel 5 <input type ="text" name = "ch5" /></p> -->
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>