<html>
   <body>
    <h1>Enter Youtube Channel Title and Description</h1>
      <form action = "http://127.0.0.1:5000/predict" method = "POST">
        <label for="title" style="display:flex">Channel Title</label>
        <input type="text" id="title" name="title" size="62"><br><br>
        <label for="desc" style="display:flex">Channel Description</label>
        <textarea id="desc" name="desc" rows="4" cols="50">
            </textarea><br><br>
        <input type="submit" value="Submit">
      </form>
   </body>
</html>